<%- include('../partials/header'); %> 

<main class="main home-main" id="main">
    <div class="container">
        <p class="home-text text-center">“Stupidity got us into this mess, and stupidity will get us out.” -<span class="homer"> Homer Simpson</span></p>
        <img src="media/homer.gif" alt="placeholder img" class="img-fluid homer-pic" />
    </div>
</main>

<%- include('../partials/footer'); %> 